<script type="text/javascript">
  var $container = $('#container');
    $container.imagesLoaded( function(){
        
        var isActive = true;
        // Main Framework
        $container.masonry({
          // options
          itemSelector : '.item',
          columnWidth : 320,
          isFitWidth: true,
        });

        // Toggle Bigger Card
        $container.on( 'click', '.item', function() {
        // change size of item via class
          $( this ).removeClass('item');
          $( this ).addClass('item--gigante');

        // trigger layout

          $container.masonry();

        });

        // Close Bigger Card
        $container.on('click', '.close', function(){
          
          $( this ).parent('.item--gigante').addClass('item');
          $( this ).parent('.item--gigante.item').removeClass('item--gigante');

          $container.masonry();

        });
        
      });

    // Reset Masonry
    $('.toggleMasonry').on('click', function(){

      $container.masonry('destroy').delay(200);

      $container.masonry({
          // options
          itemSelector : '.item',
          columnWidth : 320,
          isFitWidth: true,
        });


    }); 
  
</script>
<link rel="stylesheet" type="text/css" href="css/style.css">
<div id = "container" ng-controller="PlacesCtrl">
	
  <div ng-repeat="place in places| orderBy:'lastModified'" id = "filterCall">
      <!-- Side Description -->   
      <div class = "item" id="item">
        
        <button class="close">Close</button>
        <p>{{place.name}}</p>
        <p class="imgDescription">{{place.country}}</p>
        <ul class="trendsList">
          <li ng-repeat="trend in place.trends| limitTo: 10">
            <p>{{trend.name}}</p>
          </li>
        </ul>
        <button ng-click="refreshTrends(place.woeid)">Refresh</button>
        <p>{{place.placeType}}</p>

        <button ng-click="getPlaceTrends(place.woeid, place._id)">Search {{place.name}}</button>

      </div>   
		</div>
	</div>
</div>